@import models.Category
@import models.Product
@import models.users.User

@(env: play.api.Environment, categories: List[models.Category], products: List[models.Product], user: models.users.User, catId: Long, filter: String)

<!-- Pass page title, user, and content {html between braces} to the main view -->
@main("Home", user, categories, catId: Long, filter) {

	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>A</span>&Js</h1>
									<h2>Welcome </h2>
									<p>Find the lowest prices</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="/assets/images/home/product5.jpg" class="girl img-responsive" alt="" />
									
									<img src="/assets/images/home/new.png"  class="pricing" alt="" />

								
								
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-Delivery</h1>
									<h2>100% Satisfaction</h2>
									<p>Buy Now get next day Delivery Free </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="/assets/images/home/product3.jpg" class="Delivery" alt="" />

									
								</div>
							</div>

							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-Clothing</h1>
									<h2>Get Massive Discounts</h2>
									<p>We provide the best clothing from Fair Trade nations and Huge International collection </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="/assets/images/home/product2.jpg" class="Delivery" alt="" />

									

								</div>
							</div>

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->

	<div class="col-sm-12 padding-right">
		<div class="row">
		@if(flash.containsKey("success")) {
                <div class="alert alert-success">
                @flash.get("success")
                </div>
            }
            <div class="features_items"><!--features_items-->
                <h2 class="title text-center">New products</h2>
                @for(p <- products) {
                    <div  class="col-sm-4">
                        <div  class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    @if(env.resource("public/images/productImages/thumbnails/" + p.getId + ".jpg").isDefined) {
                                        <img src="/assets/images/productImages/@(p.getId).jpg"/>
                                    } else {
                                        <img src="/assets/images/productImages/thumbnails/noImage.png"/>
                                    }

                                <h2>&euro; @("%.2f".format(p.getPrice))</h2>
                                <h3>@p.getName</h3>
                               
                              
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>&euro; @("%.2f".format(p.getPrice))</h2>
                                        <a   href="@routes.HomeController.productDetails(catId, filter, p.getId)" <p> @p.getDescription</p> </a>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
								<ul class="nav nav-pills nav-justified">
                                    <li><a href="@routes.HomeController.like(catId, filter, p.getId, "index")"><b><i class="glyphicon glyphicon-thumbs-up"></i>Like @p.getPlike().getLikeCount() </a></b></li>
                                    <li><a href="#"><b><i class="fa fa-plus-square"></i>Add to wishlist</a></b></li>  
                                </ul>
                            </div>
                        </div>
                    </div>
                }
		</div>
		</div>
					
					
					
				</div>
}
